*{
	margin: 0;
	padding: 0;
	color: inherit;
	font-size: inherit;
	font-family: 'HankenBook' ; 
}

html{
	height: 100%
	overflow-y: scroll;
}
body{
	height: 100%;
	margin: 0 auto ; 
	max-width: 1042px;
	background: url('images/pattern.png') repeat scroll 0% 0% transparent ; 
}

nav{
	padding-top: 20px;	
	margin: 0 auto;
	background : url("images/3stripes.png") repeat-x scroll 0px 0px transparent; 
}

footer{
	padding-top: 20px;	
	margin: 0 auto ; 
	background : url("images/3stripes.png") repeat-x scroll center bottom transparent; 
}
.main_wrapper{
	background-color : #fff;
	margin-top: 11% ; 
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-style: solid ; 

	background-image : url("images/paysage.JPG");
	background-origin: content-box ; 
	background-size: 100% 100% ; 
	background-position: center ; 

}
#main{
	width: 87% ; 
	margin-left: 9em ; 
	height: 100%;
}

menu{
	position: fixed ; 
	top: 197px;
	margin: 0;
	padding: 0;
	width: 9em ;
	list-style-type: none;
}

.wrapper{
	width: 60%;
	margin-left: 20%;

}

#content{
	text-align: justify;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-style: solid ; 
	border-width: 1px ; 
	padding : 1.5em 0 ; 
	text-transform: lowercase ; 
	border-left: 1px  solid ;
	border-right: 1px  solid ; 
}

menu .who{
	background-color: #65A430 ; 
}

menu .cv{
	background-color: #E6BE18 ; 
}

menu .links{
	background-color: #F32901 ; 
}

menu .contact{
	background-color: rgba(0,75,254,0.88) ; 
}

.who:hover , .who:focus{
	color: white ; 
}

.cv:hover , .cv:focus{
	color: white ; 
}

.links:hover, .cv:focus{
	color: white ; 
}

.contact:hover , .contact:focus{
	color: white ; 
}

menu li {
	border-style: solid ;
	border-width: 1px;
	border-color: black ; 
}
menu li a {
	display: block ; 
	text-decoration: none ; 
	padding: 0px 0.5em ;
	font-weight: bold ; 
	text-align : right ;
	line-height: 4em;
}
#content p {
	padding: 0.4em 0;
	margin-left: 5px;
	margin-right: 5px ; 
	letter-spacing: -0.02em  ; 
	word-spacing: -0.075em;
	line-height: 0.9em ; 
	font-weight: normal ; 
	font-stretch: condensed ; 
	font-size: 21pt ; 
	background-color: #fff ; 
	opacity: 0.8 ; 
	filter: alpha(opacity=80);
}

#green {color:#65a430 ;}
#yellow {color:#E9BF30 ;}
#red {color:#f32901 ;}
#blue {color:#0006fe ;}

.warn {
	position: relative ; 
	top:80px ; 
	border-style: solid ; 
	color: white ; 
	background-color: red ;
	text-align: center ; 
}

a {
	text-decoration: none ;
	font-weight: bold ; 
}
